@model IEnumerable<dynamic>
@{
    ViewBag.Title = "acc_list_report";
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        $('#DistrictListForMonthlyReport').change(function () {
            var selectedId = $(this).val();

            $('#partialPlaceHolder').fadeOut('slow');

            $.get('/Acc/LoadPartialView?district_id=' + selectedId, function (data) {
                $('#partialPlaceHolder').html(data);
                $('#partialPlaceHolder').fadeIn('slow');
            });
        });
    });
</script>

<h2>Reports</h2>
<p>
    @Html.ActionLink("Total Costs by Engineer", "acc_list_report", "Acc", new { report = 1 }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Average Costs by Engineer", "acc_list_report", "Acc", new { report = 2 }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Costs by District", "acc_list_report", "Acc", new { report = 3 }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Monthly Costs by District", "acc_list_report", "Acc", new { report = 4 }, new { @class = "btn btn-primary" })
</p>

@if (Model != null)
{
    int report = int.Parse(Request.QueryString["report"]);

    switch (report)
    {
        case 1:
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>Site Engineer</th>
                    <th>Total Labour Hours</th>
                    <th>Total Cost</th>
                </tr>
                @foreach (dynamic data in Model)
                {
                    <tr>
                        <td>@data.User</td>
                        <td>@data.TotalLabour</td>
                        <td>$@data.TotalCost</td>
                    </tr>
                }
            </table>
            break;
        case 2:
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>Site Engineer</th>
                    <th>Average Labour Hours</th>
                    <th>Average Cost</th>
                </tr>
                @foreach (dynamic data in Model)
                {
                    <tr>
                        <td>@data.User</td>
                        <td>@data.AvgLabour</td>
                        <td>$@data.AvgCost</td>
                    </tr>
                }
            </table>
            break;
        case 3:
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>District</th>
                        <th>Total Labour Hours</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.ElementAt(0))
                    {
                        <tr>
                            <td>@data.District</td>
                            <td>@data.TotalLabour</td>
                            <td>$@data.TotalCost</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            <div class="first-half-footer">
                                Grand Total Labour Hours: @Model.ElementAt(1)
                            </div>
                            <div class="second-half-footer">
                                Grand Total Cost: $@Model.ElementAt(2)
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
            break;
        case 4:
            <p>
                <select id="DistrictListForMonthlyReport" class="form-control">
                    <option>[Select a District]</option>
                    @foreach (var data in Model)
                    {
                        <option value="@data.Id">@data.DistrictName</option>
                    }
                </select>
            </p>
            <div id="partialPlaceHolder" style="display:none;"></div>
            break;
        default: break;
    }
}