@model IEnumerable<IMS_MVC.Models.ViewUser>
@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>District</th>
        <th>Role</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.DistrictName)</td>
            <td>@Html.DisplayFor(modelItem => item.Role)</td>

            <td>
                @Html.ActionLink("Change District", "acc_edit_district", new { id = item.Id })
            </td>
        </tr>
    }

</table>

