@model IMS_MVC.Models.IntInfo

@{
    ViewBag.Title = "Review Information";
}

<h2>Review Information</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.IntTypeId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IntTypeId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClientId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClientId)
    </dd>

    @*<dt>
        @Html.DisplayNameFor(model => model.SetLabour)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SetLabour)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SetCost)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SetCost)
    </dd>*@

    <dt>
        @Html.DisplayNameFor(model => model.UserId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UserId)
    </dd>

    @*<dt>
        @Html.DisplayNameFor(model => model.IntDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IntDate)
    </dd>*@

    <dt>
        @Html.DisplayNameFor(model => model.Status)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Status)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Comments)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Comments)
    </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.Reamaining)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Reamaining)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.VisitDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VisitDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ApprovedByUserId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ApprovedByUserId)
    </dd>*@

</dl>

<p>@Html.ActionLink("Back to List", "Index")</p>