@model IMS_MVC.Models.IntInfo

@{
    ViewBag.Title = "Review Information";
}

<h2>Review Information</h2>
<hr />
<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.Name):
            </th>

            <td>
                @Html.DisplayFor(model => model.Client.Name)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IntType.Name):
            </th>

            <td>
                @Html.DisplayFor(model => model.IntType.Name)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetLabour):
            </th>

            <td>
                @Html.DisplayFor(model => model.SetLabour)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetCost):
            </th>

            <td>
                @Html.DisplayFor(model => model.SetCost)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IntDate):
            </th>

            <td>
                @Html.DisplayFor(model => model.IntDate)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status):
            </th>

            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments):
            </th>

            <td>
                @Html.DisplayFor(model => model.Comments)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reamaining):
            </th>

            <td>
                @Html.DisplayFor(model => model.Reamaining)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate):
            </th>

            <td>
                @Html.DisplayFor(model => model.VisitDate)
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                @Html.ActionLink("Approve", "man_status_approve", new { id = Model.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Cancel", "man_status_cancel", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index" ,new { },new { @class="btn btn-default"})
</p>
