@model IEnumerable<IMS_MVC.Models.Client>

@{
    ViewBag.Title = "Clients List";
}

<h2>Clients List</h2>

<p>
    @Html.ActionLink("Create New", "eng_create_client")
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "eng_detail_client", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
        </tr>
    }

</table>