@model IMS_MVC.Models.Client

@{
    ViewBag.Title = "Client Information";
}

<h2>Client Information</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Browser All the Interventions of this client", "eng_list_int_via_client", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "eng_list_client", new { }, new { @class = "btn btn-default" })
    
</p>

