@model IEnumerable<IMS_MVC.Models.IntInfo>

@{
    ViewBag.Title = "Interventions List";
}

<h2>Interventions List</h2>

<p>
    @Html.ActionLink("Create New", "eng_create_intervention")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IntTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SetLabour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IntDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reamaining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedByUserId)
        </th>
        <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IntTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SetLabour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IntDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reamaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByUserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
    }

</table>
