@using Microsoft.AspNet.Identity
@model IMS_MVC.Models.IntInfo

@{
    ViewBag.Title = "Create Intervention";
}

<h2>Create Intervention</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IntTypeId, "IntTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IntTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IntTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.ClientId)
        <div class="form-group">
            @Html.LabelFor(model => model.SetLabour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SetLabour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SetLabour, "", new { @class = "text-danger" })
                <span id="helpBlock" class="help-block">the default value is given by the intervention type, but it can be overridden by the Site Engineer</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SetCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SetCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SetCost, "", new { @class = "text-danger" })
                <span class="help-block">this default value is given by the intervention type, but it can be overridden by the Site Engineer</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
