@model IEnumerable<IMS_MVC.Models.IntInfo>

@{
    ViewBag.Title = "Interventions List";
}

<h2>Interventions List</h2>

<p>
    @Html.ActionLink("Create New", "eng_create_intervention", new { id= ViewBag.ViewID})
</p>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IntType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntDate)
        </th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.IntType.Name, "eng_detail_intervention", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>

