@model IMS_MVC.Models.IntInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IntInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.AspNetUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetLabour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetLabour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reamaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reamaining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedByUserId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
